extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/canvas.css')
    h1= title 
    .stuff
        canvas(id="canvas",width="800",height="800")
        .controls
            h3 Selected Pixel
            h4(id="pixelOutput") 1, 1
            .box(id='pixelPreview')
            .sliderContainer
                h4(id="redLabel") Red
                input.slider(type="range", name="Red", min=0, max=255, value=255, id="redSlider", style="background: #f00;")
                h4(id="greenLabel") Green
                input.slider(type="range", name="Green", min=0, max=255, value=255, id="greenSlider", style="background: #0f0;")
                h4(id="blueLabel") Blue
                input.slider(type="range", name="Blue", min=0, max=255, value=255, id="blueSlider", style="background: #00f;")
            button(id="changeBtn") Change
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/javascripts/canvasController.js")

