doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body.bg-light(style='padding:70px')
    nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-dark
      .container
        a.text-light.navbar-brand(href='/') PixelRaiser 
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarMain')
          span.navbar-toggler-icon
          span.icon_bar

        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.text-light.nav-link(href='/canvases/') Ongoing
            li.nav-item
              a.text-light.nav-link(href='/archive/') Archive 
            li.nav-item
              a.text-light.nav-link(href='/getting-started/') Getting Started
            
    .container.content 
      block content
      //- footer.navbar.fixed-bottom.justify-content-center.bg-gray
        .row
          .col-12
            small &copy; PixelRaiser – SeJoMa 2022

